@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

.notebook {
  background: repeating-linear-gradient(
      to bottom,
      #fdfdf8,
      #fdfdf8 28px,
      #d6d6d6 29px
    );
  border-left: 6px solid #ffc48f;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-family: "Homemade Apple", cursive; /* optional for handwriting vibe */
}

.text-color {
  color: #653c87;
}

.hero-chat-bubble {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  padding: 1.5rem 2.75rem;
  width: 100%;
  max-width: 32rem;
  background-color: #ffffff;
  overflow: visible;
}

.hero-chat-bubble::before {
  display: none;
}

.hero-chat-bubble::after {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: -12px;
  border-width: 12px 12px 0 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

