@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.notebook {
  background: repeating-linear-gradient(
      to bottom,
      #fdfdf8,
      #fdfdf8 28px,
      #d6d6d6 29px
    );
  border-left: 6px solid #ffc48f;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-family: "Homemade Apple", cursive; /* optional for handwriting vibe */
}

.text-color {
  color: #653c87;
}

